spring:
  threads:
    virtual:
      enabled: true
  docker:
    compose:
      skip:
        in-tests: false
      start:
        arguments:
          - --pull=${PULL_POLICY:missing}
      stop:
        command: down
  data:
    redis:
      host: 127.0.0.1
      port: 6379
